<div id="main">
     <h2 class="main-heading">We are pleased to inform you that you are now able to download editable pdf versions of the questionnaire and use them according to the terms and conditions below.</h2>
    <p class="rounded-text pixel-17 brownish-grey">Please download the versions below that are most applicable for your use.</p>
     <p class="main-text "></p>
 <p class="main-text">
</p>

<div id="dwderrmsg" style="display: none;text-align: center;"><span style="color:red;" class="pixel-17 myraid-text">Sorry, no questionnaire is available for the current selection.</span>
</div>
<form role="form" accept-charset="UTF-8" action="/downloads" method="post">
  <input name="utf8" type="hidden" value="&#x2713;">
  <input name="authenticity_token" type="hidden" value="">
<p class="pixel-17 myraid-text">Language</p><select id="pageid:j_id1:chooselang" name="download[language]" class="form-control-nonmandatory" size="1"> <option value="English" selected="selected">English</option>
  <option value="Spanish">Spanish</option>
  <option value="French">French</option>
</select>




     <div class="questions">

     <div class="space-50"></div>

      
     
     <div class="form-group">
    <div class="form-inline">
      <label class="rounded-text pixel-17 brownish-grey">Non-branded Product</label>
      <div>
      <label class="mdl-radio mdl-js-radio radio-inline">
            <input class="mdl-radio__button nbarnd" id="Nonprod" name="download[non_brand]" onclick="changeValue(this,'pageid:j_id1:RadioButtonValue')" type="radio" value="Non-branded_Initial" />

            <span class="myraid-text pixel-16">Initial Visit</span>
         </label>
         <label class="mdl-radio mdl-js-radio radio-inline">
            <input class="mdl-radio__button nbarnd" id="Nonprodfol" name="download[non_brand]" onclick="changeValue(this,'pageid:j_id1:RadioButtonValue')" type="radio" value="Non-branded_Follow-up" />
            <span class="myraid-text pixel-16">Follow up Visit</span>
         </label>
          <label class="mdl-radio mdl-js-radio radio-inline">
            <input class="mdl-radio__button nbarnd" id="Nonprodboth" name="download[non_brand]" onclick="changeValue(this,'pageid:j_id1:RadioButtonValue')" type="radio" value="Non-branded_Both" />
            <span class="myraid-text pixel-16">Both</span>
            
         </label>
      </div>
      <div class="space-20"></div><input class="btn-lg btn-secondary btn1" id="pageid:j_id1:nonbrand" name="download[is_downloaded]" value="Download" type="submit" />


    </div>
</div>
<div class="space-20 border-top"></div>

    <div class="form-group">
    <div class="form-inline">
      <label class="rounded-text pixel-17 brownish-grey">Branded Product </label>
      
      
      <div class="space-20 "></div>
      <label class="rounded-text pixel-17 blue">CMD</label>
      <div>
      <label class="mdl-radio mdl-js-radio radio-inline">
            <input class="mdl-radio__button obarnd" id="Onisor-IV" name="download[first_brand]" onclick="changeValue(this,'pageid:j_id1:RadioButtonValue')" type="radio" value="CMD_Initial" />
            <span class="myraid-text pixel-16">Initial Visit</span>
         </label>
         <label class="mdl-radio mdl-js-radio radio-inline">
            <input class="mdl-radio__button obarnd" id="Onisor-FV" name="download[first_brand]" onclick="changeValue(this,'pageid:j_id1:RadioButtonValue')" type="radio" value="CMD_Follow-up" />
            <span class="myraid-text pixel-16">Follow up Visit</span>
         </label>
          <label class="mdl-radio mdl-js-radio radio-inline">
            <input class="mdl-radio__button obarnd" id="Onisor-B" name="download[first_brand]" onclick="changeValue(this,'pageid:j_id1:RadioButtonValue')" type="radio" value="CMD_Both" />
            <span class="myraid-text pixel-16">Both</span>
         </label><input id="pageid:j_id1:RadioButtonValue" type="hidden" name="" value="" />
      </div>
      <div class="space-20"></div><input class="btn-lg btn-secondary btn1" id="pageid:j_id1:OnisorDnd" name="download[is_downloaded]" value="Download" type="submit" />

    </div>
</div>
<div class="space-20"></div>
   <div class="form-group">
    <div class="form-inline">
      <label class="rounded-text pixel-17 blue">GMD</label>
      <div>
      <label class="mdl-radio mdl-js-radio radio-inline">

            <input class="mdl-radio__button dbarnd" id="GMD-I" name="download[second_brand]" onclick="changeValue(this,'pageid:j_id1:RadioButtonValue')" type="radio" value="GMD_Initial" />
            <span class="myraid-text pixel-16">Initial Visit</span>
         </label>
         <label class="mdl-radio mdl-js-radio radio-inline">
            <input class="mdl-radio__button dbarnd" id="GMD-F" name="download[second_brand]" onclick="changeValue(this,'pageid:j_id1:RadioButtonValue')" type="radio" value="GMD_Follow-up" />
            <span class="myraid-text pixel-16">Follow up Visit</span>
         </label>
          <label class="mdl-radio mdl-js-radio radio-inline">
            <input class="mdl-radio__button dbarnd" id="GMD-both" name="download[second_brand]" onclick="changeValue(this,'pageid:j_id1:RadioButtonValue')" type="radio" value="GMD_Both" />
            <span class="myraid-text pixel-16">Both</span>
         </label>
         
      </div>
      <div class="space-20"></div><input class="btn-lg btn-secondary btn1" id="pageid:j_id1:dreamaxx" name="download[is_downloaded]" value="Download" type="submit" />


    </div>
</div>

<div class="space-20"></div>
 

</form>
</div>
 <div class="space-50"></div>


     


<p class="main-text">


</p>



      


   </div>
