<section class="regbanner">
  <div class="container">
    <div class="jumbotron">
      <h1>Registration</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    </div>
  </div>
</section>

<div class="container">

<div align="center">

</div>

  <div class="panel panel-primary dialog-panel regform">
  
    <div class="panel-body">
      <div class="col-md-12 formheader"></div>
      <form role="form" accept-charset="UTF-8" action="/users" method="post">
        <input name="utf8" type="hidden" value="&#x2713;">
            <input name="authenticity_token" type="hidden" value="">
        <div class="form-group"><label for="" class="control-label col-md-3 col-md-offset-1">
First Name</label>
          <div class="col-md-6"><input id="" type="text" name="user[first_name]" class="form-control reqfield" /><br />
          </div>
        </div>
        <br /><br />
        <div class="form-group"><label for="" class="control-label col-md-3 col-md-offset-1">
Last Name</label>
          <div class="col-md-6"><input id="" type="text" name="user[last_name]" class="form-control reqfield" /><br />
          </div>
        </div>
        <br /><br />
        <div class="form-group"><label for="" class="control-label col-md-3 col-md-offset-1">
Email Address</label>
          <div class="col-md-6"><input id="" type="email" name="user[email]" class="form-control reqfield" /><br />
          </div>
        </div>
        <br /><br />
          <div class="col-md-12 formheader"></div>
        <div class="form-group"><label for="" class="control-label col-md-3 col-md-offset-1">
Business Name</label>
          <div class="col-md-6"><input id="" type="text" name="user[buss_name]" class="form-control reqfield" /><br />
          </div>
        </div>
        <br /><br />
        <div class="form-group"><label for="" class="control-label col-md-3 col-md-offset-1">
Street</label>
          <div class="col-md-6"><input id="" type="text" name="user[street]" class="form-control reqfield" /><br />
          </div>
        </div>
        <br /><br />
        <div class="form-group"><label for="" class="control-label col-md-3 col-md-offset-1">
City</label>
          <div class="col-md-6"><input id="" type="text" name="user[city]" class="form-control reqfield" /><br />
          </div>
        </div>
        <br /><br />
        <div class="form-group"><label for="" class="control-label col-md-3 col-md-offset-1">
State/Province/County</label>
          <div class="col-md-6"><input id="" type="text" name="user[state_prvnc_cntry]" class="form-control reqfield" /><br />
          </div>
        </div>
        
      <div class="form-group"><br /><label for="" class="control-label col-md-3 col-md-offset-1">
Zip/Postal Code</label>
          <div class="col-md-6"><input id="" type="text" name="user[zip_postal_cd]" class="form-control reqfield" /><br />
          </div>
        </div>
        <br /><br />
        <div class="form-group"><label for="" class="control-label col-md-3 col-md-offset-1">
Country</label>
          <div class="col-md-5"><select name="user[country]" class="form-control reqfield" size="1">  <option value="">--None--</option>
  <option value="United States">United States</option>
  <option value="Canada">Canada</option>
  <option value="United Kingdom">United Kingdom</option>
</select><br />
          </div>
        </div>
        <br /><br />
        <div class="col-md-12 footnote"> <strong></strong> </div>
        <div class="form-group footbtn">
          <div class="col-md-offset-3 col-md-3 dis"><input type="submit" name="" value="Cancel" class="btn-lg btn-sec btn cpos" />

          </div> 
          <div class="col-md-3 sub"><input id="" type="submit" name="" value="Register" class="btn-lg btn-sub btn spos" />

            
          </div>
        </div>
      </form>
     </div>
    </div>
  </div>